*,
::before,
::after {
	box-sizing: border-box;
}

html {
	height: 100vh; /* Technique */
}

body {
	font-family: system-ui, sans-serif;
	margin: 0;
	touch-action: none; /* Technique */
}

/* Fix for iOS Safari keyboard shifting view */
@keyframes blink {
	/* Technique */
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.screen {
	display: grid;
	grid-template-rows: 1fr auto;
	height: calc(var(--vvh) - var(--vvs)); /* Technique */
	transition: height 0.2s ease-out;
}

.view {
	display: grid;
	grid-template-rows: auto 1fr;
	overflow: auto; /* Technique */
}

.header {
	background-color: hsl(0 0% 100% / 0.4);
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	padding-top: env(safe-area-inset-top);
	padding-inline: 20px;
	position: sticky;
	top: 0;
	z-index: 1;
}

.content {
	padding-inline: 20px;
}

.footer {
	background-color: white;
	border-block-start: 1px solid #ccc;
	display: flex;
	gap: 10px;
	padding-block: 10px;
	padding-inline: 20px;
	touch-action: none; /* Technique */
}

.input {
	flex-grow: 1;

	&:focus {
		animation: blink 0.02s; /* Technique */
	}
}
